# Ignore everything
*

# But not these files...
!.gitignore
!3D-Models-lib
!Footprints-lib.pretty
!Schematic-lib.kicad_sym
!README.md
# etc...


# ...even if they are in subdirectories
!*/

# ignore .bak

*.bak